{% extends 'base.html' %}
{% load static %}
{% load chats_custom_filters %}

{% block title %}
  Чаты
{% endblock title %}

{% block links %}
  <link rel="stylesheet" href="{% static 'chats/css/chat_detail_styles.css' %}">
{% endblock links %}

{% block start_scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{% endblock start_scripts %}

{% block end_scripts %}
  <script src="{% static 'chats/js/chat_detail.js' %}"></script>
  <script src="https://kit.fontawesome.com/e5fcab2af9.js" crossorigin="anonymous"></script>
{% endblock end_scripts %}

{% block content %}
  <div id="root">
    <div class="container">
      <div class="app">
        <section class="section" id="navigation">
          <nav class="nav">
            <div class="logo">
              <img src="https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/1024/messages_5122x.png"
                   alt="logo" class="logo-img"/>
            </div>

            <div class="main-nav">
              <a class="nav-icon" href="{% url 'chats:create_chat' %}"><i class="fa-solid fa-pen"></i></a>
              <a class="nav-icon" href="#"><i class="fa-regular fa-user"></i></a>
              <a class="nav-icon" href="#" style="color: var(--blue--);"><i class="fa-regular fa-message"></i><span
                class="circle">4</span></a>
              <a class="nav-icon" href="#"><i class="fa-regular fa-bell"></i></a>
              <a class="nav-icon" href="#"><i class="fa-regular fa-calendar"></i></a>
              <a class="nav-icon" href="#"><i class="fa-regular fa-moon"></i></a>
              <a class="nav-icon" href="#"><i class="fa-solid fa-gear"></i></a>
            </div>

            {#            <div class="other-nav">#}
            {#              <a class="nav-icon" href="#">#}
            {#                <div class="profile-pic">#}
            {#                  <img#}
            {#                    src="https://images.unsplash.com/photo-1612214070475-1e73f478188c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1160&q=80"#}
            {#                    alt="contact picture" class="contact-pic"/>#}
            {#                  <span class="online"></span>#}
            {#                </div>#}
            {#              </a>#}
            {#            </div>#}

          </nav>
        </section>

        <section class="section" id="chat-list">
          <div class="chat-list-header">
            <div class="collapse-nav">
              <h2 class="chats">Чаты</h2>
              <span class="collapse-nav-items"><i class="fa-solid fa-ellipsis-vertical"></i></span>
            </div>
            <input type="search" placeholder="Поиск чатов" class="search-input"/>
          </div>
          <div class="chat-box">
            {% for chat, companion, companion_image, companion_online, last_chat_message, last_chat_message_time in chats %}
              <div class="chat" id="{{ companion }}" data-chat-uuid="{{ chat.uuid }}">
                <div class="box-one">
                  <div class="profile-pic">
                    <img
                      src="{{ companion_image.url }}"
                      alt="" class="contact-pic"/>
                    <span class="{% if companion_online %}online{% endif %}"></span>
                  </div>

                  <div class="descrip">
                    <span class="name">{{ companion }}</span>
                    <span class="text">{{ last_chat_message|truncatechars:30 }}</span>
                  </div>
                </div>

                <div class="info">
                  <span class="time">{{ last_chat_message_time|time:"H:i" }}</span>
                  <span class="msg-count">4</span> {# TODO: количество непрочитанных сообщений #}
                </div>
              </div>
            {% endfor %}

            {#            <div class="chat" id="Warren White">#}
            {#              <div class="box-one">#}
            {#                <div class="profile-pic">#}
            {#                  <img#}
            {#                    src=""#}
            {#                    alt="contact picture" class="contact-pic"/>#}
            {#                  <span class="online"></span>#}
            {#                </div>#}
            {##}
            {#                <div class="descrip">#}
            {#                  <span class="name">Warren White</span>#}
            {#                  <span class="text textload">#}
            {#                      <span class="typing typ1"></span>#}
            {#                      <span class="typing typ2"></span>#}
            {#                      <span class="typing typ3"></span>#}
            {#                    </span>#}
            {#                </div>#}
            {#              </div>#}
            {##}
            {#              <div class="info">#}
            {#                <span class="time">3:13PM</span>#}
            {#                <span class="msg-count">5</span>#}
            {# TODO: Если непрочитанных сообщений нет, то span убрать #}
            {#              </div>#}
            {#            </div>#}

            {#            <div class="loading chat">#} {# TODO: Загрузка чатов #}
            {#              <div class="loading-pic"></div>#}
            {#              <div class="loading-box">#}
            {#                <div class="loading-name load"></div>#}
            {#                <div class="loading-descrip load"></div>#}
            {#                <div class="loading-info load"></div>#}
            {#              </div>#}
            {#            </div>#}
            {#            <div class="loading chat">#}
            {#              <div class="loading-pic"></div>#}
            {#              <div class="loading-box">#}
            {#                <div class="loading-name load"></div>#}
            {#                <div class="loading-descrip load"></div>#}
            {#                <div class="loading-info load"></div>#}
            {#              </div>#}
            {#            </div>#}

          </div>
        </section>

        <section class='section hide' id='setting'>
          <div class='setting-header'>
            <span class='back-icon'><i class="fa-sharp fa-solid fa-arrow-left-long"></i></span>
            <h2 class='s-heading'>Настройки</h2>
          </div>

          <div class='setting-content'>

            <div class='setting-option'>
              <span class='setting-icon'><i class="fa-solid fa-user"></i></span>
              <div class='setting-info'>
                <h4 class='setting-name'>Твой профиль</h4>
                <p class='setting-descript'>Изменить номер, описание, фото</p>
              </div>
            </div>


            <div class='setting-option'>
              <span class='setting-icon'><i class="fa-solid fa-users"></i></span>
              <div class='setting-info'>
                <h4 class='setting-name'>Найти друзей</h4>
                <p class='setting-descript'>Пригласите друга в чат</p>
              </div>
            </div>

            <div class='setting-option'>
              <span class='setting-icon'><i class="fa-solid fa-bell"></i></span>
              <div class='setting-info'>
                <h4 class='setting-name'>Уведомления</h4>
                <p class='setting-descript'>Message, groups & call times</p>
              </div>
            </div>

            <div class='setting-option'>
              <span class='setting-icon'><i class="fa-solid fa-user-group"></i></span>
              <div class='setting-info'>
                <h4 class='setting-name'>Chats</h4>
                <p class='setting-descript'>Change & remove wallpaper, chat history</p>
              </div>
            </div>

            <div class='setting-option'>
              <span class='setting-icon'><i class="fa-solid fa-moon"></i></span>
              <div class='setting-info'>
                <h4 class='setting-name'>Themes</h4>
                <p class='setting-descript'>System default</p>
              </div>
            </div>

            <div class='setting-option'>
              <span class='setting-icon'><i class="fa-solid fa-circle-info"></i></span>
              <div class='setting-info'>
                <h4 class='setting-name'>Support</h4>
                <p class='setting-descript'>Help center, contact us</p>
              </div>
            </div>

            <div class='setting-option'>
              <span class='setting-icon'><i class="fa-solid fa-lock"></i></span>
              <div class='setting-info'>
                <h4 class='setting-name'>Privacy</h4>
                <p class='setting-descript'>Block contacts, disappearing messages</p>
              </div>
            </div>

            <div class='setting-option'>
              <span class='setting-icon'><i class="fa-solid fa-globe"></i></span>
              <div class='setting-info'>
                <h4 class='setting-name'>Languages</h4>
                <p class='setting-descript'>English (phone's default)</p>
              </div>
            </div>

          </div>
        </section>

        <section class="section hidden" id="chat-room">
          <div id="chat-msg-room">
            <div class="chat-room-header">
              <div class="box-one" style="width: 60%">
                <span class="go-back-icon"><i class="fa-sharp fa-solid fa-arrow-left-long"></i></span>
                <div class="profile-pic">
                  <img
                    src="{{ companion_image.url }}"
                    alt="" class="contact-pic small-contact-pic"/>
                </div>
                <div class="descrip">
                  <span class="name">{{ companion }}</span>
                </div>
              </div>
              <div class="user-options">
                <span href="#" class="opt-one opt"><i class="fa-solid fa-video"></i></span>
                <span href="#" class="opt-two opt"><i class="fa-solid fa-phone"></i></span>
                <span class="other-opts opt"><i class="fa-solid fa-ellipsis-vertical"></i></span>
              </div>
            </div>

            <div id="messages-room">
              {% for message in messages %}
                {% if current_user == message.sender.email %}
                  {% with previous_el=messages|previous:forloop.counter0 %}
                    {% if forloop.first or previous_el.sender.email != current_user %}
                      <div class="message-group-sent">
                    {% endif %}
                  {% endwith %}
                <div class="message-sent">
                  <div class="message-sent-text">
                    {{ message.message|safe }}
                  </div>
                </div>
                {% with next_el=messages|next:forloop.counter0 %}
                  {% if forloop.last or next_el.sender.email != current_user %}
                    </div>
                  {% endif %}
                {% endwith %}
                {% else %}
                  {% with previous_el=messages|previous:forloop.counter0 %}
                    {% if forloop.first or previous_el.sender.email == current_user or previous_el.sender.email != message.sender.email %}
                      <div class="message-group-received">
                      <div>
                        <img src="{{ user_photo }}" alt=""/>
                      </div>
                      <div>
                    {% endif %}
                  {% endwith %}
                <div class="message-received">
                  <div class="message-received-text">
                    {{ message.message }}
                  </div>
                </div>
                {% with next_el=messages|next:forloop.counter0 %}
                  {% if forloop.last or next_el.sender.email != message.sender.email or next_el.sender.email == current_user %}
                    </div>
                    </div>
                  {% endif %}
                {% endwith %}
                {% endif %}
              {% endfor %}

            </div>

            <div class="chat-input-box">
              <input type="text" class="text-input" placeholder="Type your message..."/>
              <button class="send" type="submit"><i class="fa-sharp fa-solid fa-paper-plane"></i></button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

{% endblock content %}