{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock title %}
{% block links %}
  <link rel="stylesheet" href="{% static 'users/css/register_styles.css' %}">
{% endblock %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="container">
      <div class="card">
        <a class="singup">Регистрация</a>
        <ul>{% for field in form %}
          {% for error in field.errors %}
            <li>{{ field.name }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}</ul>

        <div class="inputBox1">
          {{ form.email }}
          <span class="user">Почта</span>
        </div>

        <div class="inputBox">
          {{ form.password1 }}
          <span>Пароль</span>
        </div>

        <div class="inputBox">
          {{ form.password2 }}
          <span>Еще раз Пароль</span>
        </div>

        <div class="inputBox">
          {{ form.first_name }}
          <span>Имя</span>
        </div>

        <div class="inputBox">
          {{ form.last_name }}
          <span>Фамилия</span>
        </div>

        <button class="enter">Войти</button>
        <p>Или <a href="{% url 'users:login' %}">Войти</a></p>
      </div>
    </div>
  </form>
{% endblock content %}